{% extends 'base.html' %}

{% block title %}
Adoption Agency - Pet Details
{% endblock %}

{% block content %}

<h1>{{ pet.name }}</h1>

{% if pet.photo_url %}
<img class="img-fluid" style="max-width:30rem;" src="{{ pet.img_url }}">
{% endif %}

<p>Species: {{ pet.species }}</p>
<p>Age: {{ pet.age }}</p>
<hr>
<h2>Edit</h2>

<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form %}
        {% if field.widget.input_type != 'hidden' %}
            <div class="form-group">
                {{ field.label }}
                {{ field(class="form-control")}}

                {% for error in field.errors %} 
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endfor %}           

            </div>
        {% endif %}
    {% endfor %}

    <button class="btn btn-success">Submit</button>
</form>

{% endblock %}